<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <!-- Card -->
            <div class="card shadow">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4">
                        <div class="text-center">
                            <h3 class="text-primary">Forget Password</h3>
                        </div>
                        <p class="text-center">Fill the form to reset your password.</p>
                    </div>
                        <!-- Form -->
                    <form [formGroup]="forgetPasswordForm" (ngSubmit)="resetPassword()">
                            <!-- Email -->
                        <div id="mainPart" *ngIf="showMainForm">
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i
                                        class="bi bi-envelope text-white"></i></span>
                                <input type="email" class="form-control" formControlName="Email" placeholder="Email *" id="email">
                            </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-question-circle text-white"></i></span>
                                   
                                    <select  id="security" class="form-control"  >
                                        <option value="0">Please Select One...*</option>
                                        <option *ngFor="let opt of securityQuestion" [value]="opt.securityQuestionID">{{opt.securityQuestion}}</option>
                                      </select>


                        </div>

                          <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-reply text-white"></i></span>
                            <input type="text" class="form-control"  placeholder="Security Answer *" id="ans">
                        </div>

                        <div class="mb-3 d-grid">
                            <button type="button" class="btn btn-primary" (click)="verifyEmailWithSecurity();">
                                Reset
                            </button>
                        </div>

                        </div>

                          

                        <div id="hiddenPart" *ngIf="showPassForm">
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i
                                        class="bi bi-key-fill text-white"></i></span>
                                <input type="password" class="form-control" formControlName="Password"  placeholder="Password *" id="password">
                            </div>

                            <div class="text-danger" *ngIf="forgetPasswordForm.get('Password')?.hasError('required') && forgetPasswordForm.get('Password')?.touched">
                                Password is required
                              </div>
                              <div class="text-danger" *ngIf="forgetPasswordForm.get('Password')?.hasError('minlength') && forgetPasswordForm.get('Password')?.touched">
                                Password must be at least 6 characters
                              </div>
                              <div class="text-danger" *ngIf="forgetPasswordForm.get('Password')?.hasError('maxlength') && forgetPasswordForm.get('Password')?.touched">
                                Password cannot exceed 8 characters
                              </div>


                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i
                                        class="bi bi-key-fill text-white"></i></span>
                                <input type="password" class="form-control" formControlName="ConfirmPassword"  placeholder="Confirm password *" id="confirmpass">
                            </div>

                            <div class="text-danger" *ngIf="forgetPasswordForm.get('ConfirmPassword')?.hasError('required') && forgetPasswordForm.get('ConfirmPassword')?.touched">
                                Password is required
                              </div>
                              <div class="text-danger" *ngIf="forgetPasswordForm.get('ConfirmPassword')?.touched && forgetPasswordForm.hasError('mismatch')">
                                Password must match
                              </div>
                       


                            <!-- Button -->
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-primary"  [disabled]="!forgetPasswordForm.valid">
                                Reset
                            </button>
                        </div>

                    </div>
                        <span>Return to <a [routerLink]="['/login']">sign in</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>