<div class="container-fluid vh-100" style="margin-top:50px">
    <div class="">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-primary">Create Account</h3>
                </div>
                <div class="p-4">
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-person-plus-fill text-white"></i></span>
                            <input type="text" class="form-control"  formControlName="FullName"
                            placeholder="Full Name *">

                        </div>
                        <div class="text-danger"  *ngIf="registerForm.get('FullName')?.hasError('required') && registerForm.get('FullName')?.touched">
                            * Please provide your full name 
                          </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-envelope text-white"></i></span>
                            <input type="email" class="form-control" formControlName="Email" placeholder="Email *">
                        </div>

                        <div class="text-danger"  *ngIf="registerForm.get('Email')?.hasError('required') && registerForm.get('Email')?.touched">
                            * Email field is required
                          </div>

                          <div class="text-danger"  *ngIf="registerForm.get('Email')?.hasError('email') && registerForm.get('Email')?.touched">
                             Email is not valid
                          </div>
                       


                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-key-fill text-white"></i></span>
                            <input type="password" class="form-control" formControlName="Password" placeholder="Password *">
                        </div>

                        <div class="text-danger" *ngIf="registerForm.get('Password')?.hasError('required') && registerForm.get('Password')?.touched">
                            Password is required
                          </div>
                          <div class="text-danger" *ngIf="registerForm.get('Password')?.hasError('minlength') && registerForm.get('Password')?.touched">
                            Password must be at least 6 characters
                          </div>
                          <div class="text-danger" *ngIf="registerForm.get('Password')?.hasError('maxlength') && registerForm.get('Password')?.touched">
                            Password cannot exceed 8 characters
                          </div>



                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-key-fill text-white"></i></span>
                            <input type="password" class="form-control" formControlName="ConfirmPassword"  placeholder="Confirm password *">
                        </div>

                        <div class="text-danger" *ngIf="registerForm.get('ConfirmPassword')?.hasError('required') && registerForm.get('ConfirmPassword')?.touched">
                            Password is required
                          </div>
                          <div class="text-danger" *ngIf="registerForm.get('ConfirmPassword')?.touched && registerForm.hasError('mismatch')">
                            Password must match
                          </div>

                          <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-question-circle text-white"></i></span>
                                   
                                    <select  id="security" class="form-control"  formControlName="SecurityQuestionID">
                                        <option value="0">Please Select One...*</option>
                                        <option *ngFor="let opt of securityQuestion" [value]="opt.securityQuestionID">{{opt.securityQuestion}}</option>
                                      </select>


                        </div>

                          <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-reply text-white"></i></span>
                            <input type="text" class="form-control" formControlName="SecurityAns"  placeholder="Security Answer *">
                        </div>

                        <div class="text-danger" *ngIf="registerForm.get('SecurityAns')?.hasError('required') && registerForm.get('SecurityAns')?.touched">
                            Security answer required 
                          </div>



                        <div class="d-grid col-12 mx-auto">
                            <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid"><span></span> Sign up</button>
                        </div>
                        <p class="text-center mt-3">Already have an account?
                            <span class="text-primary" [routerLink]="['/login']" style="cursor: pointer;">Sign in</span>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>